.image-container {
	width: 100%;
	height: 750px;
	max-width: 1500px;
	background-image: url('../Photos/Swirl.png'), url('../Photos/Dog.png');
	background-position: 0px 330px, -8px 20px;
	background-repeat: no-repeat;
	background-size: 100% 60%, 30% 100%;
	border: 1px solid black;
	display: inline-block;
	border-radius: 5%; /* Make it round */
	overflow: hidden; /* Clip the content to the rounded shape */
	position: relative;
	background-color: white;
}

.Title {
	text-align: center;
	position: absolute;
	top: 100px;
	right: 250px;
	font-family: Myriad Pro;
	font-size: 25px;
	font-weight: bold;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: rgb(28, 72, 29);
}

.login-form {
	width: 400px;
	padding: 20px;
	border-radius: 5px;
	margin: 0 auto;
	position: relative; /* Add position relative */
	bottom: -300px;
	right: -350px;
}

.txt_field {
	display: flex;
	flex-direction: row; /* Display the label and input in a row */
	align-items: center; /* Align them vertically in the middle */
	justify-content: space-between; /* Distribute space between label and input */
	margin-bottom: 15px;
	position: relative;
}

.txt_field input {
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	outline: none;
	background: none;
	order: 2;
	width: 310px;
}

.txt_field label {
	color: black;
	margin-bottom: -1px;
	display: inline-block;
}

button {
	padding: 10px 20px;
	background-color: transparent;
	color: white;
	border: 3px solid white;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	margin-top: 60px;
	right: -150px;
}
@media (max-width: 1400px) and (min-width: 1201px) {
	/* Styles for extra large devices */
	.image-container{
		background-color: blue;
		background-size: 100% 50%, 35% 99%;
		background-position: 0px 400px, -8px 20px;
	}
	.login-form{
		bottom: -300px;
		right: -250px;
	}
	.Title{
		top: 100px;
		right: 200px;
	}
}

  /* Extra large devices (large desktops and high-res displays) */
  @media (max-width: 1200px) and (min-width: 993px) {
	/* Styles for extra large devices */
	.image-container{
		background-color: red;
		background-size:100% 60%, 40% 98%;
		background-position: 0px 400px, -8px 20px;
	}
	.login-form{
		bottom: -300px;
		right: -200px;
	}
	.Title{
		top: 100px;
		right: 200px;
	}
  }
/* Large devices (laptops/desktops) */
@media (max-width: 992px) and (min-width: 769px) {
	/* Styles for large devices */
	.image-container{
		background-color: pink;
		background-size: 100% 60%, 50% 97%;
		background-position: 0px 400px, -8px 20px;
	}
	.login-form{
		bottom: -300px;
		right: -200px;
	}
	.Title{
		top: 100px;
		right: 100px;
	}
}

  
  /* Medium devices (tablets) */
  @media (max-width: 768px) and (min-width: 577px) {
	/* Styles for medium devices */
	.image-container{
		background-color: yellow;
		background-size: 100% 60%, 60% 96%;
		background-position: 0px 400px, -8px 20px;
	}
	.login-form{
		bottom: -300px;
		right: -50px;
	}
	.Title{
		top: 100px;
		right: 180px;
	}
}
  
  
/* Small devices (landscape phones) */
@media (max-width: 576px){
	/* Styles for small devices */
	.image-container{
		background-color: white;
		background-size: 100% 60%, 75% 95%;
		background-position: 0px 400px, -8px 20px;
	}
	.login-form{
		bottom: -300px;
		right: 0px;
	}
	.Title{
		top: 100px;
		right: 100px;
	}
}