body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.container-xxl{
    background-color: #f1f1f1;
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 5%;
}

.container-sm{
    display: flex;
    margin: 20px;
    border: 1px solid black;
    padding-left: 10%;
    justify-content: center;
}

.row{
    flex-direction: row-reverse;
    justify-content: center;

}

.vital{
    margin: 20px;
    justify-content: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background: green;
}

/* Styling for the sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 10%;
    height: 100%;
    background-color: #1c6648;
    color: #fff;
    padding: 20px;

}

/* Styling for sidebar buttons */
.sidebar button {
    font-size: 18px;
    display: block;
    width: 100%;
    background: none;
    border: none;
    color: #080808;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    margin-top: 50px;

    /* Adjust button position manually */
    position: relative; /* Use relative positioning for the button */
    top: 20; /* Move the button down by 50% of its parent's height */
    transform: translateY(-50%); /* Adjust to vertically center the button */
}

.sidebar button:hover {
    background-color: #0a7237;
}

.settings-icon {
    position: absolute; /* Change to absolute positioning */
    top: 20px; /* Move the icon to the top */
    right: 30px;
    width: 32px; /* Adjust icon width */
    height: 32px; /* Adjust icon height */
    cursor: pointer;
}

/* Styling for Doctor label */
.Doctor {
    color: #080808;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    }

.Doctor::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #080808;
    position: absolute;
    bottom: -20px;
    left: 0;
}
.Greet {
    color: #080808;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 50px;
    position: relative;
    }

