<div class="image-container">
    <div class="center">
        <div class="Title">
            <p>Dapper</p>
            <p>Animal Monitoring System</p>
        </div>
        <form method="post">
            <div class="txt_field">
                <input type="text" name="username" id="username" required>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" id="password" required>
                <label>Password</label>
            </div>
            <button type="button" id="submit" onclick="validate()" onkeydown="if (event.key == 'Enter') validate();">LOGIN</button>
        </form>
    </div>
</div>