<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    <title>On Going</title>
</head>

<body>

    <div class="nav">
        <div class="header">
            <div class="head">
                <h3>Dapper Animal Patient Monitoring System</h3>
            </div>

            <div class="back">
                <button onclick="back ()"><h3>Back</h3></button>
                <script>
                    function back() {
                        window.location.href = "Dashboard.html";
                    }
                </script>
            </div>
        </div>
    </div>

    <div class="bg">
        <div class="monitor">
            <div class="graph">

            </div>
        </div>
    </div>


</body>
</html>