<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    <title>Alarm Settings</title>
</head>

<body>
    <div class="sidebar">
        <div class="greet">
            <h2>Admin Panel</h2>
        </div>
        <br />
        <ul>
            <li><img src="Photos/collab.png" alt="Add Users" />User Setting</li>
            <li><img src="Photos/stat.png" alt="Alarm Setting" />Alarm Setting</li>
        </ul>
    </div>

    <div class="con">
        <div class="header">
            <div class="head">
                <h2>Dapper Animal Patient Monitoring System</h2>
            </div>
            <div class="settings">
                <button onclick="admin ()"><img src="Photos/Settings.png" alt="Settings Icon" /></button>
                <script>
                    function admin() {
                        window.location.href = "Settings.html";
                    }
                </script>
            </div>
        </div>
    </div>

</body>
</html>